<phpunit bootstrap="bootstrap.php" verbose="true" colors="true">
    <testsuites>
        <testsuite>
            <directory>../../../../../test/suite</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="tap" target="../../../../../artifacts/tests/report.tap" />
        <log type="junit" target="../../../../../artifacts/tests/report.junit.xml" />
    </logging>

    <groups>
        <exclude>
            <group>exclude-by-default</group>
        </exclude>
    </groups>
</phpunit>
